<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
>
  <div layout:fragment="content">
    <div >
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title fw-bolder">Dépôts</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/user}">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item">
                <a th:href="@{/user/thesis}">Dépôts</a>
              </li>
              <li class="breadcrumb-item active">Dépôt</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-bold">Dépôt Mémoire </h4>
        </div>
        <div class="card-body">
         <div th:replace="~{fragments/require_alert}"></div>
          <div class="row">
            <div class="col-md-8 mb-3">
              <h5 class="fw-bold">Informations principales</h5>
              <form
                th:action="@{/user/thesis/deposit}"
                method="post"
                enctype="multipart/form-data"
                th:object="${thesis}"
              >
                <div class="form-group">
                  <label for="name"
                    >Theme <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{topic}"
                    required
                    name="nom"
                    placeholder="Entrer le theme de votre Mémoire "
                  />
                  <div id="NameHelpBlock" class="form-text">
                    Le titre du Mémoire 
                  </div>
                </div>
                <div class="form-group">
                  <label for="name"
                    >Année academique <span class="text-danger">*</span></label
                  >
                  <input
                    type="number"
                    class="form-control"
                    th:field="*{academicYear}"
                    required
                    name="academicYear"
                    placeholder="Entrer l'année academique de la Filière (ex: 2023)"
                  />
                  <div id="NameHelpBlock" class="form-text">
                    L'année academique du Mémoire 
                  </div>
                </div>
                <div class="form-group">
                  <label for="name"
                    >Fichier du Mémoire  (.pdf)
                    <span class="text-danger">*</span></label
                  >
                  <input
                    type="file"
                    class="form-control"
                    required
                    name="file"
                    id="pdfFile"
                    accept=".pdf"
                  />
                  <div id="NameHelpBlock" class="form-text">
                    Fichier du Mémoire . Seule les pdf sont autorisé.
                  </div>
                </div>
                <div>
                    <a th:href="@{/user/thesis}" class="btn btn-outline-app me-3">Annuler</a>
                  <button type="submit" class="btn btn-primary">Valider le Dépôt</button>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <h5 class="fw-bold">Previsualisation</h5>
              <div class="border border-1 bg-light-app rounded h-size">
                <div id="pdfContainer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
