<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
>
  <div layout:fragment="content">
    <div >
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title fw-bolder">Detail Mémoire </h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/}">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item">
                <a th:href="@{/user/thesis}">Mémoires</a>
              </li>
              <li class="breadcrumb-item active">Details</li>
            </ul>
          </div>
        </div>
      </div>
      <div th:replace="~{fragments/detail}"></div>
    </div>
  </div>
</html>
