<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
>
  <div layout:fragment="content">
    <div >
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title fw-bolder" th:text="'Modification Dépot '">
             
            </h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/user/dashboard}" th:text="'Tableau de bord'"
                  >Tableau de bord</a
                >
              </li>
              <li class="breadcrumb-item">
                <a th:href="@{/user/thesis}" th:text="'Dépôts'">Dépôts</a>
              </li>
              <li class="breadcrumb-item active" th:text="'Modification'">
                Modification
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title fw-bold">Modifier un Dépôt</h4>
            </div>
            <div class="card-body">
              <div th:replace="~{fragments/require_alert}"></div>
              <form
                th:action="@{/user/thesis/update}"
                method="post"
                th:object="${thesis}">
                <input type="hidden" name="id" th:field="*{id}" />
                <div class="mb-3">
                  <label class="mb-2 fw-bold">Theme <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    required
                    th:errorclass="is-invalid"
                    class="form-control"
                    th:field="*{topic}"
                  />
                  <div id="NameHelpBlock" class="form-text">
                    La taille du theme est de 200 caracteres maximal.
                </div>
                <div th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}" class="text-danger w-100"></div>
          
                </div>
                <div class="mb-3">
                  <label class="mb-2 fw-bold">Année academique
                    <span class="text-danger">*</span></label>
                  <input
                    type="number"
                    required
                    th:errorclass="is-invalid"
                    class="form-control"
                    th:field="*{academicYear}"/>
                  
                  <div th:if="${#fields.hasErrors('academicYear')}" th:errors="*{academicYear}" class="text-danger w-100"></div>
                </div>
                
                <div class="text-end">
                  <a th:href="@{/user/thesis}" class="btn btn-outline-app me-3"
                    >Annuler</a
                  >
                  <button type="submit" class="btn btn-primary">
                    Mettre à jour
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header d-lg-flex">
              <h4 class="mb-0 fw-bold">Information Mémoire </h4>
            </div>
          
              <div class="p-0 card-body">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <span class="text-body">Identifiant du Mémoire </span>
                    <h5 class="fs-5" th:text="${thesis.id}"></h5>
                  </div>
                  <div class="list-group-item">
                    <span class="text-body">Date de soumission</span>
                    <h5 class="fs-5" th:text="${thesis.submissionDate}"></h5>
                  </div>       
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
