<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layouts/base}">

    <div layout:fragment="content">
        <div class="container-fluid mt-5">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Depots</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/}">Tableau de bord</a>
                            </li>
                            <li class="breadcrumb-item active">Memoire</li>
                        </ul>
                    </div>
                   <!--  <div class="col d-flex justify-content-end">
                        <a th:href="@{/thesis/new}" class="btn btn-primary"> <i class="fa fa-plus"></i> Nouveau memoire</a>
                    </div> -->
                </div>
              
            </div>
            <p>Page de mes depost</p>
        </div>
    </div>
</html>
