<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layouts/base}">

    <div layout:fragment="content">
        <div class="container-fluid mt-5">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Etudiant</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/}">Tableau de bord</a>
                            </li>
                            <li class="breadcrumb-item active">Etudiants</li>
                        </ul>
                    </div>
                   <!--  <div class="col d-flex justify-content-end">
                        <a th:href="@{/thesis/new}" class="btn btn-primary"> <i class="fa fa-plus"></i> Nouveau Etudiant</a>
                    </div> -->
                </div>
              
            </div>
            <div class="row">
                <div th:if="${students.size() == 0}">
                   <div th:replace="~{fragments/empty('Vous n\'avez creer aucun Etudiant', 
                   	'Tous vos Etudiants seront sauvegardées ici pour que 
                   	vous puissez les consulter tout moment.')}"></div>
                </div>

                <div th:unless="${students.size() == 0}" class="col-md-12 d-flex">

                    <div class="card card-table flex-fill">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Matricule</th>
                                            <th>Filiere</th>
                                            <th>Niveau</th>
                                            <th class="text-end">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="student :${students}">
                                            <td th:text="${student.lastname}"></td>
                                            <td th:text="${student.firstname}"></td>
                                            <td th:text="${student.matricule}"></td>
                                            <td th:text="${student.sector.name}"></td>
                                            <td th:text="${student.grade.name}"></td>
                                            <td class="text-end">
                                                <div class="actions">
                                                    <a  
                                                   href="#"
                                                    class="btn btn-sm bg-primary-light me-2">
                                                        <i class="fe fe-pencil"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>
</html>
