<!DOCTYPE html>
<html lang="fr" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
    <div th:replace="~{fragments/head}"></div>
    <body class="d-flex flex-column h-100">
       <!-- navbar -->
       <div th:replace="~{fragments/navbar}"></div>
        <!-- main -->
          <main class="flex-shrink-0">
            <!-- content -->
            <div layout:fragment="content"></div>
          </main>
        <!-- footer -->
       <div th:replace="~{fragments/footer}"></div>
       <div th:replace="~{fragments/scripts}"></div>
    </body>
</html>
