<!DOCTYPE html>
<html lang="fr" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
    <div th:replace="~{fragments/head}"></div>
    <body>
        <div class="main-wrapper">
            <!-- top -->
            <div th:replace="~{fragments/topbar}"></div>
            <!-- sidebar -->
            <div th:replace="~{fragments/user_sidebar}"></div>
            <!-- Page content -->
            <div class="page-wrapper p-2 mt-5">
                <div layout:fragment="content"></div>
            </div>
        </div>
       <!-- insert script -->
       <div th:replace="~{fragments/scripts}"></div>
    </body>
</html>
