<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/student_base}"
>
  <div layout:fragment="content">
    <div >
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title fw-bolder" th:text="'Mémoire  de ' + ${thesis.student.firstname} + ' ' + ${thesis.student.lastname}"></h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/user/dashboard}">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item">
                <a th:href="@{/user/library}">Bibliotheque</a>
              </li>
              <li class="breadcrumb-item active" th:text="'Mémoire  mempot-'+${thesis.id}"></li>
            </ul>
          </div>
        </div>
      </div>
      <div th:replace="~{fragments/detail}"></div>
    </div>
  </div>
</html>
