<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/guest_base}"
>
  <div layout:fragment="content">
    <section class="home-submit">
        <div class="row home-title m-0">
          <div class="col-12 col-md-6 d-none d-md-block text-center">
            <img
              th:src="@{img/logo-small.png}"
              class="logo-hal-home"
              alt="HAL open science"
            />
          </div>
          <div class="col-12 col-md-6 text-center">
            <h1 class="home-promise">Partager librement les savoirs</h1>
          </div>
        </div>
        <div class="deposit-index-link text-center"> <!-- Ajout de la classe text-center -->
          <a href="/submit/index" class="btn-primary-orange hal-submit-button">
            <span style="font-weight: bold; position: relative"
              ><i class="fas fa-plus fs-4" aria-hidden="true"></i> Déposer
            </span>
          </a>
        </div>
      </section>
      
  </div>
</html>
