<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/auth_base}"
>
  <div layout:fragment="content">
    <div class="login-right">
      <div class="login-right-wrap">
        <a th:href="@{/}">
          <img
            class="d-block mx-auto mb-5"
            th:src="@{/img/logo.png}"
            alt="Logo application"
            title="Page accueil"
        /></a>
        <form th:action="@{/login}" method="post">
        <div class="alert alert-danger" th:if="${param.error}">Les informations de connexion sont invalides.</div>
        <div class="alert alert-success" th:if="${param.logout}">Vous etes deconnecté avec success.</div>
          <div class="form-group">
            <label for="email" class="fw-bolder">Email</label>
            <input
              class="form-control form-control-lg"
              type="text"
              name="username"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="password" class="fw-bolder">Mot de passe</label>
            <input
              class="form-control form-control-lg"
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Se connecter
            </button>
          </div>
        </form>

        <div class="text-center forgotpass">
          <p class="text-muted">
            Vous n'avez pas de compte?
            <a th:href="@{/register}">S'inscrire</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</html>
