<!-- Alert success Message-->
<div
  th:if="${success}"
  xmlns:th="http://www.thymeleaf.org"
  class="alert alert-success alert-dismissible fade show">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Opération réussie</strong>
  <span th:text="${success}"></span>
</div>

<!-- Alert Error Message -->
<div
  th:if="${danger}"
  xmlns:th="http://www.thymeleaf.org"
  class="alert alert-danger alert-dismissible fade show">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Opération échouée</strong>
  <span th:text="${danger}"></span>
</div>