<footer class="footer mt-auto mt-5 py-3 bg-app">
    <div id="sidebar-footer" class="footer-widget-area">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 mb-3">
            <div class="col-md-4 col-sm-4">
              <div id="media_image-10" class="widget widget_media_image mt-5">
                <a href="https://hal.archives-ouvertes.fr/">
                  <img
                    width="100"
                    height="166"
                    th:src="@{img/logo-small.png}"
                    class="image wp-image-3214 attachment-medium size-medium"
                    alt="Mempot Logo"
                    decoding="async"
                    style="max-width: 100%; height: auto"
                    loading="lazy"
                    sizes="(max-width: 300px) 100vw, 300px"
                /></a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div id="text-11" class="widget widget_text mt-5">
                <h3 class="widget-title">CONTACT</h3>
                <div class="textwidget">
                  <p>E-mail :&nbsp;<a href="mailto:mempot.support@nono.com">mempot.support@nono.com</a></p>
                  <p>Website: <a target="_blank" href="https://noresapp.github.io/nono/">https://noresapp.github.io/nono/</a></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Ajout des termes et cookies dans le footer -->
          <div class="footer-terms">
            <a href="#">Termes et conditions d'utilisation</a>
            <a href="#"
              >Protection de vos informations personnelles
            </a>
            <a href="#">Données personnelles</a>
            <a href="#">Paramètres des cookies</a>
          </div>
          <div class="footer-right">
            <p class="text-white">© 2023 Mempot. Tous les droits réservés.</p>
          </div>
        </div>
      </div>
</footer>
