<div xmlns:th="http://www.thymeleaf.org" class="sidebar" id="sidebar">
  <div
    class="sidebar-inner slimscroll sidebar-bg">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li
          th:classappend="${requestURI.startsWith('/admin/dashboard') ? 'active' : ''}">
          <a th:href="@{/admin/dashboard}">
            <i class="fas fa-home"></i>
            <span>Tableau de bord</span>
          </a>
        </li>
        <li
          th:classappend="${requestURI.startsWith('/admin/grades') ? 'active' : ''}"
        >
          <a th:href="@{/admin/grades}">
            <i class="fas fa-level-up-alt"></i>
            <span>Niveaux</span>
          </a>
        </li>
        <li
          th:classappend="${requestURI.startsWith('/admin/sectors') ? 'active' : ''}"
        >
          <a th:href="@{/admin/sectors}">
            <i class="fas fa-university"></i>
            <span>Filières</span>
          </a>
        </li>
        <li
     
          th:classappend="${requestURI.startsWith('/admin/students') ? 'active' : ''}"
        >
          <a th:href="@{/admin/students}">
            <i class="fas fa-graduation-cap"></i>
            <span>Etudiants</span>
          </a>
        </li>
        <li
     
          th:classappend="${requestURI.startsWith('/admin/thesis') ? 'active' : ''}"
        >
          <a th:href="@{/admin/thesis}">
            <i class="fas fa-book"></i>
            <span>Mémoires</span>
          </a>
        </li>
        <li
    
          th:classappend="${requestURI.startsWith('/admin/profile') ? 'active' : ''}"
        >
          <a th:href="@{/admin/profile}">
            <i class="far fa-user"></i>
            <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
