<div xmlns:th="http://www.thymeleaf.org" class="header">
    <div class="header-left">
        <a th:href="@{/}" class="logo">
            <img th:src="@{/img/logo.png}" alt="Logo"></a>
            <a th:href="@{/}" class="logo logo-small">
                <img th:src="@{img/logo-small.png}" alt="Logo" width="30" height="30"></a>
            </div>

            <a href="javascript:void(0);" class="text-dark" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>


            <ul class="nav user-menu">


                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <div class="avatar avatar-sm">
                            <span 
                            th:text="${#strings.substring(currentUser.firstname, 0, 1)}+${#strings.substring(currentUser.lastname, 0, 1)}"
                            class="avatar-title rounded-circle border border-white"></span>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <span 
                            th:text="${#strings.substring(currentUser.firstname, 0, 1)}+${#strings.substring(currentUser.lastname, 0, 1)}"
                            class="avatar-title rounded-circle border border-white"></span>
                            </div>
                            <div class="user-text">
                                <h6 th:text="${currentUser.firstname} + ' ' + ${currentUser.lastname}" ></h6>
                                <p class="text-muted mb-0" th:text="${currentUser.roles[0].name}"> </p>
                            </div>
                        </div>
                        <a class="dropdown-item" th:href="@{/profile}">Profil</a>
                        <a class="dropdown-item" href="#">Parametres de compte</a>
                        <a class="dropdown-item" th:href="@{/logout}">Deconnecter</a>
                    </div>
                </li>

            </ul>

        </div>

