<div xmlns:th="http://www.thymeleaf.org" class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll sidebar-bg">
        <div id="sidebar-menu" class="sidebar-menu">
            <div class="drive-button mt-3 ">
                <a th:href="@{/user/thesis/deposit}" class="btn btn-primary w-80 shadow-sm">
                    <i class="fas fa-plus me-2"></i> Deposer
                </a>
            </div>
            <ul>     
                <li th:classappend="${requestURI.startsWith('/user/dashboard') ? 'active' : ''}">
                    <a th:href="@{/user/dashboard}"><i class="fas fa-home"></i><span>Tableau de bord</span></a>
                </li>
                <li th:classappend="${requestURI.startsWith('/user/thesis') ? 'active' : ''}">
                    <a th:href="@{/user/thesis}"><i class="fas fa-folder-open"></i><span>Mes Dépôts</span></a>
                </li>
                <li th:classappend="${requestURI.startsWith('/user/library') ? 'active' : ''}">
                    <a th:href="@{/user/library}"><i class="fas fa-bookmark"></i> <span> Bibliotheque</span></a>
                </li>
                <li th:classappend="${requestURI.startsWith('/user/profile') ? 'active' : ''}">
                    <a th:href="@{/user/profile}"><i class="far fa-user"></i> <span> Profile</span></a>
                </li>
              
            </ul>
        </div>
    </div>
</div>
