
.sidebar-bg {
    background-color: #373b46;
    color: white;
}

.sidebar-menu ul li a {
    color: white;
}

.text-app {
    color: #373b46;
}

.bg-avatar-title {
    background-color: #373b46;
}

.bg-transparent {
    background: transparent;
}

.border-none {
    border: none;
}

.bg-app {
    background-color: #373b46;
}

.bg-light-app {
    background-color: #7a8194;
}

.btn-outline-app {
    color: #7a8194;
    border-color: #7a8194;
}
.btn-outline-app:hover {
    background-color: #7a8194;
    border-color: #7a8194;
    color: #fff;
}

.avatar_more {
    background-color: #cfd3da;
    color: #000000;
}

.text-body {
    opacity: 1;
    color: #64748b !important;
}

.sidebar-menu > ul > li:hover {
    background-color: rgba(140, 135, 142, 0.8);
}

.sidebar-menu > ul > li.active:hover {
    background-color: #7a8194;
    color: #fff;
}

.active-border-right {
    border-left: 3px solid white;
}

.sidebar-menu li.active a {
    background-color: #7a8194;
    color: #fff;
    border-left: 3px solid white;
  }

  .drive-button {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 15px;
}

.drive-button a {
    display: flex;
    align-items: center;
    background-color: white; /* Couleur bleue de Google Drive */
    color: #373b46;
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    font-weight: bold;
}



.drive-button a i {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.nav-tabs.nav-tabs-solid > li > a.active,
.nav-tabs.nav-tabs-solid > li > a.active:hover,
.nav-tabs.nav-tabs-solid > li > a.active:focus {
    background-color: #373b46;
    border-color: #373b46;
    color: #fff;
}

.w-80 {
    width: 80%;
}

div.file {
    fill: #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2;
}

.section-content {
    padding: 16px 26px;
}

.typdoc {
    background-color: #373b46;
    color: #fff;
    font-size: .85rem;
    font-weight: 700;
    line-height: 2.5;
    padding: 5px 8px;
}

.section-corps.row .header-section {
    margin-bottom: 23px;
}

div.authors {
    background: #f5f5f5;
}

.viewer-content.active {
    display: block;
    height: 570px;
}

.viewer-content iframe {
    min-height: 95%;
    width: 100%;
    padding: 5px;
    border: 2px solid dashed;
}

.panel-doc {
    background-color: #f4f4f4;;
}

.media {
    height: 94px;
    width: 74px;
}

.media img {
    background: #fff;
    border: 1px solid #e8e8e8;
    height: 100%;
    width: 100%;
}

.authors-results {
    color: #337ab7;
    font-size: .85rem;
    font-weight: 700;
}

.lib-link-title {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

.h-size {
    height: 90%;
}

.custom-alert-info {
    background-color: #bee3f8;
}

.custom-alert-success {
    background-color: #C6F6D5;
}

.custom-alert-danger {
    background-color: #FED7D7;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Cela garantit que l'image conserve son rapport hauteur/largeur */
    margin-right: 10px; /* Espace entre l'image et le texte (ajustez selon vos préférences) */
}

.logo-text {
    /* Vos styles de texte personnalisés */
    color: #333; /* Couleur du texte */
    /* Autres styles de texte... */
    font-weight: bolder;
    font-size: 25pt;
}


.home-submit {
    background: linear-gradient( rgb(84, 87, 96), rgba(193, 116, 33, 0.5)), 
    url(https://www.servicescape.com/img/blog/post/postbg95097.webp);
    background-repeat: no-repeat;
    border-top: 1px solid #fff;
    padding-top: 60px;
    height: 50vh;
}

.home-submit .logo-hal-home {
    width: 250px;
}

.deposit-index-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-primary-orange {
    background: #f8bf66;
    border: 1px solid white;
    color: #fff;
    margin-right: -1px;
    margin-bottom: 6px;
    padding: 19px 18px 16px;
    transition: 0.5s;
    border-radius: 48px;
}

.btn-primary-orange:hover {
    background: #ac7925;
    color: #fff;
    transition: .1s ease-in-out background;
    cursor: pointer;
}

.deposit-index-link a {
    font-size: 2.125rem;
    padding: 10px 25px;
}

.home-promise {
    color: #fff;
    font-size: 2.125rem;
    font-weight: 700;
    margin-top: 125px;
}

.home-description {
    padding: 15px;
    margin-top: 30px;
}

.footer-widget-area {
    background-color: #373b46;
    color: #fff;
}

.footer-widget-area {
    background-color: #373b46;
}

.sidebar-column {
    width: 100%;
}

.footer-widget-area a {
    color: #DADADA;
}

.footer-terms {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 15px;
    /* Ajoutez d'autres styles CSS si nécessaire */
}

.footer-terms a {
    text-decoration: none;
    color: #DADADA;
    font-weight: 800;
    transition: text-decoration 0.3s; /* Animation de transition */
}

.footer-terms a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-app-secondary {
    color: #f8bf66
}

.rounded-form {
    border-radius: 8px;
}

.page-container {
  display: flex;
  align-items: center;
  /*padding-top: 40px;*/
  padding-bottom: 40px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.user-bg {
    background-color: #fafbff;;
}

.fs-14 {
    font-size: 14px;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.bg-error-app {
    background-color: #F2F4F6;
}

.feature {
    background-color: #fff;
}

.text-justify {
    text-align: justify;
}
