<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-bs-theme="dark">
  <div th:replace="~{fragments/head}"></div>
  <body>
    <main class="bg-error-app">
      <section class="vh-100 d-flex align-items-center justify-content-center">
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center d-flex align-items-center justify-content-center">
                      <div>
                          <img class="img-fluid w-25" th:src="@{/img/errors/500.svg}" alt="500 image">
                          <h1 class="mt-5">Erreur 505 - Erreur interne du serveur</h1>
                          <p class="lead my-4">
                            Désolé, une erreur interne du serveur s'est produite. L'administrateur du site a été informé de cette erreur et travaille pour la résoudre. 
                            Veuillez réessayer ultérieurement.
                          </p>
                          <a th:href="@{/}" class="btn btn-dark d-inline-flex align-items-center justify-content-center mb-4">
                             Retourner à l'accueil
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
  </body>
</html>

