<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  data-bs-theme="dark">
  <div th:replace="~{fragments/head}"></div>
  <body>
    <main class="bg-error-app">
      <section class="vh-100 d-flex align-items-center justify-content-center">
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center d-flex align-items-center justify-content-center">
                      <div>
                          <img class="img-fluid" th:src="@{/img/errors/401.svg}" alt="401 image">
                          <h1 class="mt-5">Erreur HTTP: 401 Unauthorized</h1>
                          <p class="lead my-4">Vous n'avez pas les droits d'accès nécessaires d'acceder à cette page</p>
                          <a th:href="@{/}" class="btn btn-dark d-inline-flex align-items-center justify-content-center mb-4">
                             Retourner à l'accueil
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
  </body>
</html>

