<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}">
  <div layout:fragment="content">
    <div>
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title fw-bolder">Niveaux</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/admin/dashboard}">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item active">Niveaux</li>
            </ul>
          </div>
          <div class="col d-flex justify-content-end">
            <a th:href="@{/admin/grades/new}" class="btn btn-primary">
              <i class="fa fa-plus"></i>
              Nouveau niveau</a>
          </div>
        </div>
      </div>
      <div th:replace="~{fragments/flash}"></div>
      <div class="row">
        <div th:if="${grades.size() == 0}">
          <div
            th:replace="~{fragments/empty('Vous n\'avez creer aucun niveau',
            'Tous vos niveau seront sauvegardées ici pour que
            vous puissez les consulter tout moment.')}"></div>
        </div>
        <div th:unless="${grades.size() == 0}" class="col-md-12 d-flex">
          <div class="card card-table flex-fill">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th>Nom</th>
                      <th colspan="2">Etudiants</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="grade : ${grades}">
                      <td th:text="${grade.id}"></td>
                      <td th:text="${grade.name}"></td>
                      <td>
                        <div
                          th:if="${grade.students.size() != 0}"
                          class="avatar-group">
                          <div
                            class="avatar avatar-xs"
                            th:each="student : ${grade.students}"
                          >
                            <!-- grade are not students -->
                            <img
                              class="avatar-img rounded-circle border border-white"
                              alt="User Image"
                              height="24"
                              width="24"
                              th:src="'https://ui-avatars.com/api/?name='+${student.firstname}+'+'+${student.lastname}+'&background=7a8194&color=fff&size=80'"
                              th:title="${student.firstname} + ' ' + ${student.lastname}"
                            />
                          </div>
                        </div>
                        <span th:unless="${grade.students.size() != 0}">Aucun etudiant n'est inscrit dans ce niveau.</span>
                      </td>
                      <td class="text-end">
                        <div class="dropdown">
                          <a
                            class="btn-icon btn btn-ghost btn-sm rounded-circle"
                            id="dropdownMenuLink"
                            data-bs-toggle="dropdown"
                            href="#">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="15px"
                              height="15px"
                              viewbox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="text-secondary"
                            >
                              <circle cx="12" cy="12" r="1"></circle>
                              <circle cx="12" cy="5" r="1"></circle>
                              <circle cx="12" cy="19" r="1"></circle>
                            </svg>
                          </a>
                          <!-- Dropdown menu -->
                          <div
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenuLink"
                          >
                            <div class="d-flex flex-column">
                              <a class="dropdown-item" th:href="@{'/admin/grades/detail/' + ${grade.id}}">
                                <i class="fas fa-eye me-3 text-app"></i>
                                <span th:text="'Voir'"></span>
                              </a>
                              <a class="dropdown-item"  th:href="@{'/admin/grades/edit/' + ${grade.id}}">
                                <i class="fas fa-edit me-3 text-app"></i>
                                <span th:text="'Modifier'"></span>
                              </a>
                              <a class="dropdown-item"  th:href="@{'/admin/grades/delete/' + ${grade.id}}">
                                <i class="fas fa-trash me-3 text-app"></i>
                                <span th:text="'Supprimer'"></span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
