<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
>
  <div layout:fragment="content">
    <div class="content container-fluid mt-5">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title fw-bolder">Modification etudiant</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/admin/dashboard}">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item">
                <a th:href="@{/admin/students}">Etudiant</a>
              </li>
              <li class="breadcrumb-item active">Modification</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-bold">Modifier un etudiant</h4>
        </div>
        <div class="card-body">
          <div th:replace="~{fragments/require_alert}"></div>
          <form
            th:action="@{/admin/students/update}"
            method="post"
            th:object="${student}"
          >
          <input type="hidden" name="id" th:field="*{id}">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="mb-2 fw-bold">Nom  <span class="text-danger">*</span></label>
                <input type="text" required class="form-control" th:field="*{lastname}">
            </div>
          
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="mb-2 fw-bold">Prénom(s)  <span class="text-danger">*</span></label>
                <input type="text" required class="form-control" th:field="*{firstname}">
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="mb-2 fw-bold">Adresse (Facultatif)</label>
                <input type="text" class="form-control" th:field="*{address}" placeholder="7 rue des Fleurs 37000 Tours">
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="mb-2 fw-bold">Matricule  <span class="text-danger">*</span></label>
                <input type="text" required  class="form-control" th:field="*{matricule}">
            </div>
          
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="mb-2 fw-bold">Email  <span class="text-danger">*</span></label>
                <input type="email" class="form-control" th:field="*{email}">
            </div>
            </div>
          </div>
          <!-- sector and grade  -->
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="mb-2 fw-bold">Niveaux  <span class="text-danger">*</span></label>
                <select name="grades" id="grades" class="form-control" required th:field="*{grade}">
                  <option value="">Selectionner votre niveau scolaire</option>
                  <option th:each="grade : ${grades}" 
                  th:selected="${grade == grade.name}"
                  th:value="${grade.id}" th:text="${grade.name}"></option>
                </select>
            </div>
          
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="mb-2 fw-bold">Filieres  <span class="text-danger">*</span></label>
                <select name="sectors" id="sectors" class="form-control" required th:field="*{sector}">
                  <option value="">Selectionner votre filiere</option>
                  <option th:each="sector : ${sectors}" th:value="${sector.id}" 
                  th:selected="${sector == sector.name}"
                  th:text="${sector.name}"></option>
                </select>
            </div>
            </div>
          </div>
            <div class="text-end">
              <a th:href="@{/admin/students}" class="btn btn-outline-app me-3"
                >Annuler</a
              >
              <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</html>
