<!DOCTYPE html>
<html
  lang="fr"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
>
  <div layout:fragment="content">
    <div class="container-fluid mt-5">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title fw-bolder">Detail Filiere</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a th:href="@{/}">Tableau de bord</a>
              </li>
              <li class="breadcrumb-item">
                <a th:href="@{/admin/sectors}">Filieres</a>
              </li>
              <li class="breadcrumb-item active">Details</li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</html>
