<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layouts/base}">

    <div layout:fragment="content">
        <div class="container-fluid mt-5">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Memoires</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/}">Tableau de bord</a>
                            </li>
                            <li class="breadcrumb-item active">Memoires</li>
                        </ul>
                    </div>
                   <!--  <div class="col d-flex justify-content-end">
                        <a th:href="@{/thesis/new}" class="btn btn-primary"> <i class="fa fa-plus"></i> Nouveau memoire</a>
                    </div> -->
                </div>
              
            </div>
            <div class="row">
                <div th:if="${thesis.size() == 0}">
                   <div th:replace="~{fragments/empty('Vous n\'avez creer aucun memoire', 
                   	'Tous vos memoires seront sauvegardées ici pour que 
                   	vous puissez les consulter tout moment.')}"></div>
                </div>

                <div th:unless="${thesis.size() == 0}" class="col-md-12 d-flex">

                    <div class="card card-table flex-fill">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Theme</th>
                                            <th>Année Academique</th>
                                            <th>Date soumission</th>
                                            <th>Etudiant</th>
                                            <th class="text-end">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="t : ${thesis}">
                                            <td th:text="${t.id}"></td>
                                            <td class="text-truncate" th:text="${t.topic}"></td>
                                            <td th:text="${t.academicYear}"></td>
                                            <td th:text="${t.submissionDate}"></td>
                                            <td> <span class="badge bg-primary" 
                                                th:text="${t.student.firstname} + ' ' + ${t.student.lastname}"></span> </td>
                                            <td class="text-end">
                                                <div class="actions">
                                                    <a  
                                                    th:href="@{/thesis/edit/}+${t.id}"
                                                    class="btn btn-sm bg-primary-light me-2">
                                                        <i class="fe fe-pencil"></i>
                                                    </a>
                                                    <a  
                                                    target="_blank"
                                                    title="Visualiser le memoire"
                                                    th:href="@{${t.filePath}}"
                                                    class="btn btn-sm bg-primary-light me-2">
                                                        <i class="fe fe-file"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>
</html>
